/.quarto/

.Rproj.user
.DS_Store
.Rhistory
/.quarto/
/_site/
/env/
/.venv/
/.condaenv/
*_cache/

# Microsoft Word temporary files
~$*
*.tmp
*.swp
*.bak

# PowerPoint temporary files
~$*
*.pptx~
*.ppt~

# PDF viewers (like Adobe) temp files
*.pdf~
*.acsm