/* css styles */

/* body {
  font-family: 'Helvetica Neue', sans-serif;
} */

/* h1, h2 {
  font-weight: 600;
  color: #222;
} */

/* figure figcaption {
    font-size: 0.8em;
    line-height: 1.2em;
    color: #555;
    margin-top: 0.3em;
    text-align: center;
} */

